<p><%= link_to '', vote_up_question_path(question), remote: true, class: 'vote-up' %></p>
<p class="vote-count"><%= question.vote_count %></p>
<p><%= link_to '', vote_down_question_path(question), remote: true, class: 'vote-down' %></p>
