
<div class="container">
  <div id="content" class="row">
    <div id="mainbar-full">
      <div class="subheader">
        <h1 id="h-users">ユーザー</h1>
      </div>
      <table>
        <tr>
          <% @users.each do |user| %>
          <div class="col-md-6">
          <td>
            <div class="user-info">
              <div class="user-gravatar48">
                <a href="<% link_to user %>">
                  <div class="gravatar-wrapper-48">
                    <%= profile_img(user) %>
                  </div>
                </a>
              </div>
              <div class="user-details">
                <a><%= link_to user.name, user %></a>
                <% @sum = 0 %>
                <% user.answers.each do |answer| %>
                  <% @sum += answer.vote_count %>
                <% end %>
                <% user.questions.each do |question| %>
                  <% @sum += question.vote_count %>
                <% end %>
                  <div class="-flair">
                    <span class="reputation-score" dir="ltr">貢献度：<%= @sum %></span>
                  </div>
              </div>
            </div>
          </td>
          </div>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>
