<ul class="nav nav-tabs">
   <li class="active"><a data-toggle="tab" href="#home">プロフィール</a></li>
   <li><a data-toggle="tab" href="#menu1">お気に入り</a></li>
   <li><a data-toggle="tab" href="#menu2">貢献度</a></li>
 </ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <p>
        <%= profile_img(@user) %>
        <%= @user.name %>
      </p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <p>
        <% @user.likes.each do |like| %>
          質問タイトル：<%= like.question.title %>
        <% end %>
      </p>
    </div>
    <div id="menu2" class="tab-pane fade">

      <p><%= contribute(@user) %></p>

    </div>
  </div>
</div>
