<%= form_for([question, answer], remote: true) do |f| %>
<div class="form-group">
<%= f.hidden_field :question_id %>
<%= f.text_area :content, placeholder: "内容", class: "form-control", rows: 6 %>
</div>
<%= f.submit "回答を投稿", class: "btn btn-primary btn-sm" %>
<% end %>
