<p><%= link_to '', vote_up_question_answer_path(question, answer), remote: true, class: 'vote-up' %></p>
<p><%= answer.vote_count %></p>
<p><%= link_to '', vote_down_question_answer_path(question, answer), remote: true, class: 'vote-down' %></p>
