// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-helper-hidden-accessible {
  display: none;
}

.vote-up {
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom: 15px solid #818185;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.vote-down {
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top: 15px solid #818185;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.question-sidebar {
  margin-top: -40px;
}

.question-aside {
  margin-bottom: 10px;
}
