h2 {
  text-align: center;
}

.field {
  padding: 30px;
  width: 300px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
}

.actions {
  width: 275px;
  height: 30px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.login-links {
  padding: 30px;
  text-align: center;
}

.profile-image {
  text-align: center;
  padding: 30px;
  margin: 0 auto;
  border-radius: 30px;
}

.account-delete {
  padding-top: 20px;
  text-align: center;
}

hr {
  border: 0;
  height: 0;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

#menu2 {
  text-align: left;
  word-break: break-all;
}

#menu3 {
  text-align: left;
  word-break: break-all;
}
